# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# SonarLint plugin
.idea/sonarlint/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

# idea folder, uncomment if you don't need it
.idea

ha_config
custom_components/eplucon/test.py
custom_components/main.py
custom_components/eplucon/eplucon_web/DTO/*json
eplucon.tar.bz2
custom_components/eplucon/eplucon_web/DTO/nodes/node_5700.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5701.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5702.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5703.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5704.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5705.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5706.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5708.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5709.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5711.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5712.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5713.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5715.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5721.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5722.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5723.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5724.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5725.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5755.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5757.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5758.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5759.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5760.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5761.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5767.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5775.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5776.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5777.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5778.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5779.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5780.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5781.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5782.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5783.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5784.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5785.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5786.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5787.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5788.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5789.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5790.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5791.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5792.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5793.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5794.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5795.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5796.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5797.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5798.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5799.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5800.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5801.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5802.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5803.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5804.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5805.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5806.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5807.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5808.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5809.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5810.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5811.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5812.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5813.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5814.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5815.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5816.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5817.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5818.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5819.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5820.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5821.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5822.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5823.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5824.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5825.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5826.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5827.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5828.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5829.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5830.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5831.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5832.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5833.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5834.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5835.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5836.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5837.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5838.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5839.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5840.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5841.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5842.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5843.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5844.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5845.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5846.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5847.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5848.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5849.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5850.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5851.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5852.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5853.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5854.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5855.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5856.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5857.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5858.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5859.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5860.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5861.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5862.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5863.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5864.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5865.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5866.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5867.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5868.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5869.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5870.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5871.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5872.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5873.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5874.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5875.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5876.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5877.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5878.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5879.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5885.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5886.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5894.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5896.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5897.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5898.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5899.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5900.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5901.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5902.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5903.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5904.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5905.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5906.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5907.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5908.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5909.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5921.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5922.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5923.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5924.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5929.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5930.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5931.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5932.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5933.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5934.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5935.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5937.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5938.json
custom_components/eplucon/eplucon_web/DTO/nodes/node_5939.json